@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic");

* {
  box-sizing: border-box;
}
body {
  margin: 0px auto;
  text-align: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

button {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

div {
  display: inline-block;
  padding: 0 15px;
  text-align: center;
}

div.column {
  border-left: 3px solid black;
  vertical-align: top;
}

div.column:last-child {
  border-right: 3px solid black;
}

.column-title {
  background-color: #009E9E;
  padding: 0 15px;  
}

button.create-column {
  background-color: #99FF99;
  display: block;
  text-align: center;
  margin: 15px auto;
}

button.add-card {
  background-color: #FF66FF;
}

button.btn-delete {
  display: none;
}

div.column:hover button.btn-delete {
  display: inline-block;
}

ul.column-card-list {
  padding: 0;
  list-style-type: none;
  min-height: 100px;
}

